body {
  background-color: #dcedc1;
  font-family: Playfair Display, Times New Roman;
  text-align: left;
  margin: 50px;
}

h1 {
  color: #3366cc;
}

p {
  font-size: 18px;
  color: #333333;
}
